header, head {
  background-color: rgb(300,200,0);
  display: auto;
  height: 100px;
  margin-top: 0px;
  }
 header ul li{
  display: inline-block;
  font-size: 20px;
  margin: 30px 20px 20px 20px;
  }
header img {
    width: 113px;
    height:auto;
    float: left;
  }
 body {
  width: 960px;
  min-height: 700px;
  background-color: rgb(145, 197, 231);
  color: green;
  font-family: comic sans ms;
  font-size: 20px;
  text-align: justify;
}

.firstheader {
  margin-top: 20px;
  font-size: 30px;
  position: relative;
  text-align: center;
  color: #55f25c;
}

.h1 {
  position: absolute;
  margin-top: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.familyimage {
  margin-top: 20px;
  font-size: 25px;
  position: relative;
  text-align: center;
  color: #f00ba5;
 }
 
 .onpatfamily {
  position: absolute;
  margin-top: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

#cutter {
  width: 20%;
  padding: 10px;
  float: left;
  
}
#fishcookie {
  width: 25%;
  padding: 10px;
  float:right;
}

#shirt {
  float:left;
  padding: 20px;
  width: 23%;
}

table {
  width: 100%;
  padding: 1px;
  margin: 1px;
}
th {
  background-color: rgb(55, 56, 56);
  color: white;
  border: 2px solid red;
  padding: 1em;
  margin: 1em;
}
th:hover {
  background-color: white;
  color: black;
}
td {
  background-color: rgb(55, 56, 56);
  color: white;
  border: 2px solid orange;
  padding: 1em;
  margin: 1em;
  background-clip: padding-box;
  border-radius: 30px;
  border: 5px solid white;
}
td:hover {
  background-color: pink;
  color: blue;
}

footer {
  background-color: rgb(300,200,0);
  display: auto;
  height: 100px;
  margin-bottom: 0px;
  }
 footer ul li{
  display: inline-block;
  font-size: 20px;
  margin: 30px 20px 20px 40px;
  }
footer img {
    width: 300px;
    height:100px;
    float:right;
    margin-left: 100px;
}
